<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  
  <appSettings>
    <!-- ExclusiveBulbs -->
    <add key="ACCESS_KEY" value="AKIAIHIRJWSELRP7QVCA" />
    <add key="AWS_ASECRET_KEY" value="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" />
    <add key="MERCHANT_ID" value="A22XNR713HGDVG" />
    <add key="MARKETPLACE_ID" value="ATVPDKIKX0DER" />
    <add key="" value="" />
    <add key="HASECRET_KEY" value="!1H3lL0_W0r1d" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <add name="MiTechWebStation" 
         connectionString=" data source=192.168.0.226;
         initial catalog=WebStation;
         user id=tempuser;
         password=pLa13t1B;
         MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>